.nav-elements{
    background-color: brown;
    height: 10vh;
    
}

.nav-ul{ 
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 1rem;
}
    
    
.nav-ul li{
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 500;
}
.nav-ul li a{
    color: whitesmoke;
    text-decoration: none;
}